@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mobile First Design */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.content-body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 80px;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 375px;
  height: 779px;
  padding: 50px 24px;
  background-image: url(./images/contact-form-shapes-mobile.svg), url(./images/Contact-me.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.form-group-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}

.form-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  height: 56px;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.form-description {
  height: auto;
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form-group-actions input {
  align-self: stretch;
  width: 327px;
  height: 48px;
  padding-left: 16px;
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: none;
}

.form-group-actions #email::placeholder {
  color: #172b4d;
  font-size: 17px;
}

#email:valid,
#name:valid {
  border: 2px solid #00c000;
  border-radius: 3px;
}

.error-message {
  width: 327px;
  font-size: 15px;
  color: #fff;
}

.textarea-container {
  width: 327px;
  height: 170px;
  padding: 15px 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.textarea-container textarea {
  width: 100%;
  height: 140px;
  font-size: 15px;
  line-height: 24px;
  border: none;
  outline: none;
}

.submit-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  color: #6070ff;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  border: none;
  border-radius: 8px;
}

@media only screen and (min-width: 992px) {
  /* Desktop [992px -> 1220px] */
  body {
    background-image: url(./images/header-background-shape-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
  }

  /* Desktop contact Section */
  .contact-form {
    width: 100%;
    height: 846px;
    background-image: url(./images/contact-form-background-shapes.svg), url(./images/contact-form-background-shape-desktop.svg);
    background-position: center;
  }

  .form-description {
    width: 801px;
  }

  .form-group-actions {
    align-items: center;
  }

  .form-group-actions input {
    width: 447px;
    border-radius: 2px;
  }

  .textarea-container {
    width: 447px;
  }
}
